In [1]:
import os
try:
    from yaml import load, CLoader as Loader
except:
    from yaml import load, Loader

data = load(open('env.yaml'), Loader=Loader)
os.environ.update({key: str(val) for key, val in data.items()})
os.environ['DATABASE_URL'] = 'sqlite:///:memory:'

from hemlock import push_app_context

app = push_app_context()

In [3]:
from hemlock import Page, Label
from hemlock.tools import progress

Page(
    Label(
        progress(width=.5, text='50% done!')
    )
).preview()

'/home/dsbowen/studies/context_bootstrapping/tmp/preview (16).html'

In [4]:
import pandas as pd

from glob import glob

csv_files = glob('data/*')
for file in csv_files:
    print(file)
    print(pd.read_csv(file).iloc[-1])
# df = pd.read_csv('data/meteor_falls.csv')
# df.head()

data/trump_tweets.csv
Unnamed: 0            60
Time          2021-01-01
y                    156
Name: 60, dtype: object
data/meteor_falls.csv
Unnamed: 0     265
Time          2013
y               11
Name: 210, dtype: int64
data/climate_change.csv
Unnamed: 0        205
Time          2021-02
y                  47
Name: 205, dtype: object
data/song_tempo.csv
Unnamed: 0     101.000000
Time          2021.000000
y              120.525875
Name: 101, dtype: float64
data/covid_cases.csv
Unnamed: 0           372
Time          2021-01-28
y                 168.62
Name: 372, dtype: object
data/vaccine_google_searches.csv
Unnamed: 0        205
Time          2021-02
y                 100
Name: 205, dtype: object
data/police_shootings.csv
Unnamed: 0            72
Time          2021-01-01
y                     70
Name: 72, dtype: object
data/tsunamis.csv
Unnamed: 0     352
Time          2020
y                8
Name: 352, dtype: int64
data/bitcoin.csv
Unnamed: 0        1771
Time          3/3/2018
y              115.126
Name: 1771, dtype: object

In [2]:
df = df[df['Time']>1800]
df.head()

    Unnamed: 0  Time  y
55          55  1801  1
56          56  1803  3
57          57  1804  6
58          58  1805  3
59          59  1806  1

In [3]:
df = df.drop(columns='Unnamed: 0')
df.head()

    Time  y
55  1801  1
56  1803  3
57  1804  6
58  1805  3
59  1806  1

In [4]:
df.to_csv('data/meteor_falls.csv')

In [ ]:
df = pd.read_csv('data/')