In [1]:
import os
try:
    from yaml import load, CLoader as Loader
except:
    from yaml import load, Loader

data = load(open('env.yaml'), Loader=Loader)
os.environ.update({key: str(val) for key, val in data.items()})
os.environ['DATABASE_URL'] = 'sqlite:///:memory:'

from hemlock import push_app_context

app = push_app_context()

In [2]:
from hemlock import Page, Label

Page(Label('<p>Hello, World!</p>')).preview()

In [3]:
[os.remove(f) for f in app.tmpfiles if os.path.exists(f)]

[None]

In [24]:
import pandas as pd

df = pd.read_csv('owid-covid-data.csv')
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [25]:
df = df[df.location == 'United States']
len(df)

373

In [26]:
df[['date', 'new_cases']].head()

             date  new_cases
59391  2020-01-22        NaN
59392  2020-01-23        0.0
59393  2020-01-24        1.0
59394  2020-01-25        0.0
59395  2020-01-26        3.0

In [27]:
df = df.rename(columns={'date': 'Time', 'new_cases': 'y'})
df[['Time', 'y']].to_csv('covid_cases.csv', index=False)

In [28]:
df = pd.read_csv('covid_cases.csv')
df.head()

         Time    y
0  2020-01-22  NaN
1  2020-01-23  0.0
2  2020-01-24  1.0
3  2020-01-25  0.0
4  2020-01-26  3.0

In [9]:
len(df)

373