In [1]:
import os
try:
    from yaml import load, CLoader as Loader
except:
    from yaml import load, Loader

data = load(open('env.yaml'), Loader=Loader)
os.environ.update({key: str(val) for key, val in data.items()})
os.environ['DATABASE_URL'] = 'sqlite:///:memory:'

from hemlock import push_app_context

app = push_app_context()

In [70]:
import pandas as pd

df = pd.read_csv('bitcoin.csv')
df.head()

   Unnamed: 0       Time       y
0           0  27/4/2013  134.21
1           1  28/4/2013  144.54
2           2  29/4/2013  139.00
3           3  30/4/2013  116.99
4           4   1/5/2013  105.21

In [66]:
df = df.rename(columns={'Month': 'Time', 'vaccine Google searches: (Worldwide)': 'y'})
df.head()

      Time  y
0  2004-01  2
1  2004-02  3
2  2004-03  2
3  2004-04  2
4  2004-05  3

In [58]:
df['Time'] = pd.to_datetime(df['Time'], format='%b-%y')

In [73]:
df['y'].describe()

count    1772.000000
mean       15.473583
std        30.425727
min         0.684300
25%         2.759950
50%         4.904150
75%         8.936500
max       194.974000
Name: y, dtype: float64

In [72]:
df['y'] = df['y'] / 100

In [74]:
df.to_csv('bitcoin.csv', index=False)